#search-form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 49px;
}
.hidden-loupe {
    display: none;
}

.search-input {
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
    border-radius: 0;
    outline: none;
    padding: 24px 16px;
}
.search-txt {
    color: #fff;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.search-button {
    display: flex;
    background-color: #007bff;
    color: #fff;
    border-radius: 0px 15px 15px 0px;
    border: none;

    height: 49px;
    padding: 15px 16px;
    align-items: center;
}
.search-input::placeholder {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #000;
}

.search-button:hover {
    background-color: #0056b3;
}
#search-form > button > i {
    padding: 15px;
}
.icon-button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 15px 0px 0px 15px;
}
