.main-tag-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 35px 0px;
}
body > div > main > div > p {
  font-size: 18px;
  font-weight: 700;
}

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.tag {
  border-radius: 25px;
  align-items: center;
  background-color: none;
  border: 2px solid #d9d9d9;
  padding: 1rem;
}

.tag:hover,
.tag:active {
  background-color: #deebff;
}
ul {
  position: relative;
  top: 0%;
}

a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
body > div.main-container > main > div > span > a {
  display: flex;
  align-items: center;
  gap: 10px;
}
